---
layout: default
---

<main class="container">
  <div class="row">
    <div class="col-2">
      <h1>{{ site.title }}</h1>
      <p class="lead"><br />{{ site.desc }}</p>
      <article>
        <h1>Posts</h1>
      </article>
      {% for post in paginator.posts %}
      <article>
        <h1>{{ post.title }}</h1>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}">
          <i class="fa fa-book fa-xs fa-pull-left" aria-hidden="true"
            >&nbsp;Read</i
          >
        </a>

        {% for category in post.categories %} &nbsp;&nbsp;
        <a href="/category/{{category}}"
          ><i class="fa fa-tag fa-xs fa-pull-right" aria-hidden="true"
            >&nbsp;{{category}}</i
          ></a
        >
        {% endfor %}
      </article>
      {% endfor %} {% include buttons.html %}
    </div>
    {% include sidebar.html %}
  </div>
</main>
