---
layout: default
---

<main class="container">
  <div class="row">
    <div class="col-2">
      <a href="/"><i class="fa fa-home fa-xs" aria-hidden="true">&nbsp;Home</i></a>
      <h1>Posts under : {{ page.tag }}</h1>
      <p class="lead">
        <br />This page describes all the posts related to #{{page.tag}}
      </p>
      <article>
        <h1>Posts</h1>
      </article>
      {% for post in site.categories[page.tag] %}
      <article>
        <h1>{{ post.title }}</h1>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}">
          <i class="fa fa-book fa-xs fa-pull-left" aria-hidden="true">&nbsp;Read</i>
        </a>
        {% for category in post.categories %} &nbsp;&nbsp;
        <a href="/category/{{category}}"><i class="fa fa-tag fa-xs fa-pull-right"
            aria-hidden="true">&nbsp;{{category}}</i></a>
        {% endfor %}
      </article>
      {% endfor %}
    </div>
    {% include sidebar.html %}
  </div>
</main>